<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css" />
    <title>LoginError</title>
</head>

<body>
    <div id="LoginForm">
        <p> Invalid Credentials. Please try Again </p>
        <input type="text" id="AuthEmail" name="AuthEmailAddress" placeholder="Email" class="login-input" />
        <input type="password" id="AuthPW" name="AuthPassword" placeholder="Password" class="login-input" />
        <button type="button" id="LoginButton" class="login-button" onclick="authenticate()">Login</button>
    </div>
</body>

</html>