@{
    ViewData["Title"] = "Successfully Logged Out";
}
<body>
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>

        <script src="~/js/login.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </div>
</body>
